{% extends "blog/base.html" %}

{% block titile %} Share a Post {% endblock %}

{% block content %}

{% if sent %}
<h1>E-mail successfully sent</h1>
<p>
    "{{post.title}}" was successfully sent to {{ form.cleaned_data.to }}.
</p>

{% else %}
<h1>Share "{{ post.title }}" by e-mail</h1>
<form method="POST">
    {% for field in form %}
    <div>
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <input type="submit" value="Send e-email">
</form>
{% endif %}
{% endblock %}